In [91]:
import numpy as np
import pandas as pd

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [92]:
data = pd.read_csv("2010-capitalbikeshare-tripdata.csv")
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [93]:
data['Start date'] = pd.to_datetime(data['Start date']).values.astype(np.int64) // 10 ** 9
data['End date'] = pd.to_datetime(data['End date']).values.astype(np.int64) // 10 ** 9
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,1284982024,1284983036,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,1284982882,1284982943,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,1284984337,1284987027,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,1284984365,1284985772,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,1284984643,1284986057,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [94]:
data = data.drop(columns = ['Start station', 'End station', 'Bike number'])
data.head()

,Duration,Start date,End date,Start station number,End station number,Member type
0,1012,1284982024,1284983036,31208,31108,Member
1,61,1284982882,1284982943,31209,31209,Member
2,2690,1284984337,1284987027,31600,31100,Member
3,1406,1284984365,1284985772,31600,31602,Member
4,1413,1284984643,1284986057,31100,31201,Member

In [95]:
X = data.iloc[:, 0:5]
X.head()

   Duration  Start date    End date  Start station number  End station number
0      1012  1284982024  1284983036                 31208               31108
1        61  1284982882  1284982943                 31209               31209
2      2690  1284984337  1284987027                 31600               31100
3      1406  1284984365  1284985772                 31600               31602
4      1413  1284984643  1284986057                 31100               31201

In [96]:
y = data.iloc[:, 5]
y.head()

0    Member
1    Member
2    Member
3    Member
4    Member
Name: Member type, dtype: object

In [100]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [101]:
predicted = KNeighborsClassifier().fit(X_train, y_train).predict(X_test)
accuracy_score(y_test, predicted)

0.8521626297577855

In [107]:
KNeighborsClassifier().fit(X_train, y_train).predict([[61, 1284982882, 1284982943, 31209, 31209]])

array(['Member'], dtype=object)